<% layout('layouts/boilerplate')%>
<div class="row mt-3">
  <h1 class="card-title text-center mb-3">New Event</h1>
  <div class="col-6 offset-3 mb-3">
    <form
      class="row g-3 m-2 needs-validation"
      action="/events"
      method="POST"
      autocomplete="on"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="form-floating col-md-6 mb-3">
        <input
          class="form-control"
          type="text"
          id="title"
          name="event[title]"
          placeholder="<%= t('title') %>"
          required
        />
        <label for="title" class="form-labelfs-6"><%= t('title') %></label>
        <div class="valid-feedback">looks good</div>
      </div>
      <div class="form-floating mb-3 col-md-6">
        <input
          class="form-select"
          id="location"
          name="event[location]"
          list="cities"
        />
        <datalist id="cities">
          <option class="option" value=""></option>
          <% for (city of states) { %>
          <option class="option" value="<%= city.name %>">
            <%= city.id + " - " + city.name %>
          </option>
          <%} %>
        </datalist>
        <label for="location" class="form-label">Wilaya</label>
        <div class="valid-feedback">BIEN</div>
      </div>

      <div class="form-floating col-md-6 mb-3">
        <input
          class="form-control"
          type="date"
          id="start"
          name="period[start]"
          placeholder="<%= t('date') %>"
          required
        />
        <label for="start" class="form-label fs-6"> <%= t('begin') %> </label>
        <div class="valid-feedback">looks good</div>
      </div>
      <div class="form-floating col-md-6 mb-3">
        <input
          class="form-control"
          type="date"
          id="end"
          name="period[end]"
          required
        />
        <label for="end" class="form-label fs-6"> <%= t('finish') %></label>
        <div class="valid-feedback">looks good</div>
      </div>

      <div class="col-12 input-group mb-3">
        <input
          type="file"
          class="form-control"
          id="picture"
          name="picture"
          required
        />
        <label class="input-group-text" for="pictures"
          ><%= t('cover') %> <%= t('picture') %></label
        >
      </div>

      <div class="mb-3">
        <label for="floatingInput" class="form-label fs-6"
          ><%= t('description') %>:</label
        >
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="event[description]"
          placeholder="<%= t('description') %>"
          rows="8"
          required
        ></textarea>
        <div class="valid-feedback">looks good</div>
      </div>
      <div class="mb-3">
        <button class="w-100 btn btn-lg btn-outline-success">
          <%= t('add') %>
        </button>
      </div>
    </form>
    <a href="/events"><%= t('all') %> <%= t('events') %></a>
  </div>
</div>
