<button
  id="item2"
  type="button"
  class="btn btn-outline-success bg-gradient px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#newEvent"
>
<%=t("add") %> <%=t("event") %> <i class="bi bi-plus-circle-fill"></i> 
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="newEvent"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%=t("event") %></h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
      class="row g-3 m-2 needs-validation"
      action="/events"
      method="POST"
      autocomplete="on"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="form-floating col-md-6 mb-3">
        <input
          class="form-control"
          type="text"
          id="title"
          name="event[title]"
          placeholder="<%= t('title') %>"
          required
        />
        <label for="title" class="form-labelfs-6"><%= t('title') %></label>
        <div class="valid-feedback">looks good</div>
      </div>
      <div class="form-floating mb-3 col-md-6">
        <input
          class="form-select"
          id="location"
          name="event[location]"
          list="cities"
        />
        <datalist id="cities">
          <option class="option" value=""></option>
          <% for (city of states) { %>
          <option class="option" value="<%= city.name %>">
            <%= city.id + " - " + city.name %>
          </option>
          <%} %>
        </datalist>
        <label for="location" class="form-label">Wilaya</label>
        <div class="valid-feedback">BIEN</div>
      </div>

      <div class="form-floating col-md-6 mb-3">
        <input
          class="form-control"
          type="date"
          id="start"
          name="period[start]"
          placeholder="<%= t('date') %>"
          required
        />
        <label for="start" class="form-label fs-6"> <%= t('begin') %> </label>
        <div class="valid-feedback">looks good</div>
      </div>
      <div class="form-floating col-md-6 mb-3">
        <input
          class="form-control"
          type="date"
          id="end"
          name="period[end]"
          required
        />
        <label for="end" class="form-label fs-6"> <%= t('finish') %></label>
        <div class="valid-feedback">looks good</div>
      </div>

      <div class="col-12 input-group mb-3">
        <input
          type="file"
          class="form-control"
          id="picture"
          name="picture"
          required
        />
        <label class="input-group-text" for="pictures"
          ><%= t('cover') %> <%= t('picture') %></label
        >
      </div>

      <div class="mb-3">
        <label for="floatingInput" class="form-label fs-6"
          ><%= t('description') %>:</label
        >
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="event[description]"
          placeholder="<%= t('description') %>"
          rows="8"
          required
        ></textarea>
        <div class="valid-feedback">looks good</div>
      </div>
      <div class="modal-footer mt-3">
        <button
          type="button"
          class="btn btn-outline-danger bg-gradient"
          data-bs-dismiss="modal"
        >
          <%= t('cancel') %>
        </button>
        <button class="btn btn-outline-success bg-gradient">
          <%= t('save') %>
        </button>
      </div>
    </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#editEvent").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>
