<% layout('layouts/boilerplate')%>
<div class="col-xl-12 col-lg-12 col-12 px-3 py-5">
  <div class="row flex-lg-row-reverse g-5 py-3">
    <div class="col-lg-6 col-6 col-xl-6 col-12 col-md-12 col-sm-12 headline">
      <img
        src="<%= MyEvent.picture.url %>"
        class="d-block mx-lg-auto img-fluid shadow col-12"
        alt="<%= MyEvent.picture.name %>"
        loading="lazy"
      />
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 headline">
      <div class="col-12">  
        <h2 class="display-5 fw-bold mb-3"><%= MyEvent.title %></h2>
        <p class="lead"><%= MyEvent.description %></p>
        <span class="text-muted">
          <%=MyEvent.location %> <i class="bi bi-geo-alt"></i>
        </span>
      </div>
      <div class="col-12 mt-3">
        <% if(!currentUser){ %>
        <div class="d-md-flex justify-content-md-start">
          <% if(!expires){%>
          <a
            href="/user/login"
            class="col-12 btn btn-outline-hookersGreen rounded-pill bg-gradient"
            ><%= t('attends') %></a
          >
          <% } %>
        </div>
        <% } else { if (currentUser){%>
        <%if(MyEvent.author._id.equals(currentUser._id)) {%>
        <%-include("./edit")%> 
        <%-include("./delete")%>
         <%}else {
          if(MyEvent.participants.filter(p => p.participant._id.equals(currentUser._id)).length > 0) {%>
          <% if(!expires){%>
        <button
          class="col-12 btn btn-outline-hookersGreen rounded-pill bg-gradient subscribed"
          id="subscribe"
        >
          <%= t('going') %> <i class="bi bi-check-circle"></i>
        </button>
        <% } %>
        <% for(event of currentUser.attendedEvents){%>
        <% if(MyEvent._id.equals(event.event)) {%>
          <% if(event.file) {%>
        <a
          href="<%= event.file.url %>"
          target="_blank"
          class="btn btn-outline-secondary rounded-pill bg-gradient mt-2"
          >Download <i class="bi bi-file-arrow-down-fill"></i
        ></a>
        <% }}}} else if(!expires) {%>
        <!-- if there is a loggedIn user and he is not yet going -->
        <button
          class="col-12 btn btn-outline-hookersGreen rounded-pill bg-gradient"
          id="subscribe"
        >
          <%= t('attends') %>
        </button>
        <%}}}} %>
        <% if ( currentUser){%>
          <%if(MyEvent.author._id.equals(currentUser._id)) {%>
          <%- include("./addVideo")%> 
          <% } }%> 
        <% if(MyEvent.videos){ %>
          <% for(video of MyEvent.videos) {%>
            <h2 class="mt-2"><%= video.title %></h2>
          <div class="ratio ratio-21x9 shadow-sm mt-2">
            <iframe
              src="<%= video.url %>"
              title="<%= video.title %>"
              frameborder="0"
              allow="accelerometer;autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <hr />  
          <% }} %>  
        
      </div>
    </div>
  </div>
  <div class="row headline">
    <div class="col-xl-12 col-12 col-sm-12 col-lg-12">
      <div class="col-12 col-sm-12 col-lg-12">
        <!-- <div class="card-body"> -->
        <h1 class="card-title title-timeline"><%= t('program') %></h1>
        <% if ( currentUser){%>
        <%if(MyEvent.author._id.equals(currentUser._id)) {%>
        <%- include("./addProgram")%> 
        <% } }%> 
        <% for(program of MyEvent.program){%>
        <h2 class="title-timeline mt-5 headline">
          <%=`${program.day}: ${moment(program.date).format('dddd, MMMM Do,YYYY')}`%>
        </h2>
        <div id="content">
          <% if(program.timeline.length>0){ %>
          <ul class="timeline shadow-lg">
            <% for(timeline of program.timeline) {%>
            <li
              class="event headline"
              data-date="<%=timeline.time.start%> - <%=timeline.time.end%>"
            >
              <h3 class="title-timeline"><%=timeline.title %></h3>
            </li>
            <% } %>
          </ul>
          <% } %>
        </div>
        <% } %>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<script>
  const user =<%- JSON.stringify(currentUser) %>;

  const serverURL = '<%- process.env.SERVER_URL %>';
  const localURL = '<%- process.env.LOCAL_URL %>';
</script>

<script type="text/javascript"
  eventId ="<%=MyEvent.id%>"
  attend = "<%=t('attends')%>"
  going = "<%=t('going')%>"
  src="/js/subscribe.js">
</script>

