<button
  type="button"
  class="btn btn-outline-warning bg-gradient px-2 py-1 me-2"
  data-bs-toggle="modal"
  data-bs-target="#edit-<%= video.id %>"
>
  <i class="bi bi-pencil-fill"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="edit-<%= video.id %>"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modifier Video</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          required
        ></button>
      </div>

      <div class="modal-body">
        <form
          class="row g-3 needs-validation"
          action="/videos/<%=video.id %>/?_method=PUT"
        
          method="POST"
          novalidate
        >
          <div class="form-floating mb-3">
            <input
              id="idtitle"
              name="video[title]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              autofocus
              required
              value="<%= video.title %>"
            />
            <label for="idtitle" class="form-label"><%= t("title") %></label>
            <div class="valid-feedback"><%= t("good") %></div>
          </div>

          <div class="form-floating">
            <input
              id="idurl"
              name="video[url]"
              type="text"
              class="form-control"
              required
              value="<%= video.url %>"
            />
            <label for="idurl" class="form-label"><%= t("url") %></label>
            <div class="valid-feedback"><%= t("good") %></div>
          </div>
          <div class="">
            <label for="description" class="form-label fw-bold fs-6"
              ><%= t('description') %>
            </label>
            <textarea
              class="form-control"
              name="video[description]"
              id="description"
              rows="3"
              placeholder="<%= t('description') %>"
              style="text-transform: capitalize"
            ><%= video.description %></textarea>
          </div>
          <div class="form-floating">
            <div class="d-flex align-item-start form-check form-switch ms-2">
              <% if (video.chosen){%>
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="video[chosen]"
                role="switch"
                id="chosen"
                checked
              />
              <% }else{ %>
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="video[chosen]"
                role="switch"
                id="chosen"
              />
              <% } %>
              <label class="form-check-label" for="video[chosen]"><%= t('include_in_home_page') %></label>
              <div class="valid-feedback"><%= t('good') %></div>
            </div>
          </div>

          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-outline-danger bg-gradient"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              id="staff-edit"
              class="btn btn-outline-warning bg-gradient"
            >
              Modifier
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#edit-<%=video.id %>").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>
