
<button
id="item2"
type="button"
class="btn btn-outline-success"
data-bs-toggle="modal"
data-bs-target="#newvideo"
>
<i class="bi bi-person-plus-fill me-2"></i><%= t('new') %> <%= t('video') %>
</button>

<!-- Modal -->
<div
class="modal fade"
id="newvideo"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel"><%= t('add') %> <%= t('video') %></h5>

      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <div class="modal-body">
      <form
        class="row g-3 needs-validation"
        action="/videos"
        id="video"
        method="POST"
        autocomplete="off"
        novalidate
      >
        <div class="form-floating">
          <input
            id="idtitle"
            name="video[title]"
            type="text"
            class="form-control"
            style="text-transform: capitalize"
            autofocus
            required
          />
          <label for="idtitle" class="form-label"><%= t('title') %></label>
          <div class="valid-feedback"><%= t('good') %></div>
        </div>

        <div class="form-floating">
          <input
            id="idurl"
            name="video[url]"
            style="text-transform: capitalize"
            type="text"
            class="form-control"
            required
          />
          <label for="idurl" class="form-label"><%= t('url') %></label>
          <div class="valid-feedback"><%= t('good') %></div>
        </div>
        <div class="">
            <textarea
              class="form-control"
              name="video[description]"
              id="description"
              rows="3"
              placeholder="Déscription"
              style="text-transform: capitalize"
            ></textarea>
          </div>
          <div class="form-floating">
            <div class="form-check form-switch ms-2">
              <input
                class="form-check-input"
                type="checkbox"
                name="video[chosen]"
                value="chosen"
                role="switch"
                id="chosen"
              />
              <label class="form-check-label" for="chosen"
                ><%= t('include_in_home_page') %></label
              >
              <div class="valid-feedback"><%= t('good') %></div>
            </div>
          </div>  
          
        <div class="modal-footer mt-4">
          <button
            type="button"
            class="btn btn-outline-danger bg-gradient"
            data-bs-dismiss="modal"
          >
            Annuler
          </button>
          <button class="btn btn-outline-success">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<script>
$("#newvideo").on("shown.bs.modal", function () {
  $(this).find("[autofocus]").focus();
});
</script>