<% layout('layouts/boilerplate')%>
<!-- ====================== Hero Section ============================= -->
<%- include("./components/hero") %>
<!-- ====================== Carousel Section ============================= -->
<%- include("./components/carousel") %>
<!-- ====================== Intro Section ============================= -->
<%- include("./components/intro") %>
<!-- ====================== Article Section ============================= -->
<%- include("./components/article") %> 
<!-- ======================Gallery section ============================= -->
<%- include("./components/gallery") %>
<div class="row justify-content-center">
  <div class="col-md-7 col-xlg-7 me-3 rounded">
    <% for(video of videos) { if(video.chosen){ %>
    <h2 class="p-2"><%= video.title %></h2>
    <p><%= video.description %></p>
    <div class="ratio ratio-21x9 shadow-sm">
      <iframe
        id="<%= video._id %>"
        src="<%= video.url %>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer;autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
    <hr />
    <% }} %>
  </div>
  <%- include("./components/aside") %>
</div>
