<% layout('layouts/boilerplate')%>
<!-- ====================== Hero Section ============================= -->
<%- include("./components/hero") %>
<!-- ====================== Carousel Section ============================= -->
<%- include("./components/carousel") %>
<!-- ====================== Intro Section ============================= -->
<%- include("./components/intro") %>
<!-- ====================== Article Section ============================= -->
<%- include("./components/article") %>
<%- include("./components/gallery") %>


    <div class="row justify-content-center">
      <div class="col-md-7 col-xlg-7 me-3 rounded">
        <% for(video of videos) {%> 
          <% if(video.chosen){ %>
        <h2 class="p-2"><%= video.title %></h2>
        <p><%= video.description %></p>
        <div class="ratio ratio-21x9 shadow-sm">
          <iframe
            id="<%= video._id %>"
            src="<%= video.url %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer;autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
        <hr />
        <% }} %>
      </div>

      <aside class="col-md-4 col-xlg-5 bg-light rounded">
        <div class="position-sticky" style="top: 2rem">
          <div class="py-3 mb-3 rounded">
            <% if(upcomingEvents.length>0) {%>
            <h4 class="fst text-lightCoral">Upcoming Events</h4>
            <div class="row">
              <% for(event of upcomingEvents){ %>
              <div class="col-12 col-sm-12 text-center mb-3">
                <div class="card shadow-sm bg-antiqueSteel" id="eventCards">
                  <div class="card-image event-card-wrapper">
                    <div class="overlay"></div>
                    <img
                      height="250px"
                      src="<%=event.picture.url%>"
                      class="card-img-top"
                      alt="<%= event.picture.filename %> "
                    />
                  </div>

                  <div class="card-body">
                    <h6 class="card-title align-self-center">
                      <a
                        href="/events/<%=event._id %>"
                        class="text-hookersGreen text-decoration-none"
                      >
                        <%= event.title %>
                      </a>
                    </h6>

                    <div class="mb-2 text-greenSea align-self-center">
                      <span>
                        <i class="bi bi-calendar-event-fill"></i>
                        <span
                          ><%= moment(event.period.start).format('l') %></span
                        >
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            <% } %> <% if(latestEvents.length>0) {%>
            <h4 class="fst text-lightCoral">Latest Events</h4>
            <div class="row">
              <% for(event of latestEvents){ %>
              <div class="col-12 text-center mb-3">
                <div class="card shadow-sm bg-antiqueSteel" id="eventCards">
                  <div class="card-image event-card-wrapper">
                    <div class="overlay"></div>
                    <img
                      height="250px"
                      src="<%=event.picture.url%>"
                      class="card-img-top"
                      alt="<%= event.picture.filename %> "
                    />
                  </div>

                  <div class="card-body">
                    <h6 class="card-title align-self-center">
                      <a
                        href="/events/<%=event._id %>"
                        class="text-hookersGreen text-decoration-none"
                      >
                        <%= event.title %>
                      </a>
                    </h6>

                    <div class="mb-2 text-greenSea align-self-center">
                      <span>
                        <i class="bi bi-calendar-event-fill"></i>
                        <span
                          ><%= moment(event.period.start).format('l') %></span
                        >
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <% }%>
            </div>
            <% } %>
          </div>
        </div>
      </aside>
      
    </div>

