<div class="row mb-2">
  <% if(articles){%> <% for(article of articles){ %>
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-antiqueSteel"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-lightCoral">Médicale</strong>
        <h3 class="mb-0 text-hookersGreen"><%=article.title%></h3>
        <div class="mb-1 text-muted"><%=moment(article.date).format("l")%></div>

        <a href="/articles/<%=article.id%>" class="text-mediumTurquoise"
          >Continue reading</a
        >
      </div>
      <div class="col-auto d-none d-lg-block">
        <img
          class="bd-placeholder-img"
          width="200"
          height="250"
          src="<%= article.picture.url %>"
          alt="<%= article.picture.filename %>"
        />
      </div>
    </div>
  </div>
  <% }} %>
</div>
