<section id="myCarousel" class=" carousel slide box-separator" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        aria-label="Slide 1"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="4"
        aria-current="true"
        aria-label="Slide 5"
      ></button>
      
    </div>
    <div class="carousel-inner">
      <!-- <div class="carousel-item active slide" data-bs-interval="2000">
        <img
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="100%"
          src="/assets/oasis_cover.jpg"
          alt="oasis_cover"
        />

        <div class="container">
          <div class="carousel-caption">
            <p class="text-dark"></p>          
          </div>
        </div>
      </div> -->
     
      
      <% for(event of upcomingEvents){ %>
      <div class="carousel-item slide" data-bs-interval="2000">
        <a class="" href="/events/<%= event._id %>"
          >
        <img
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="100%"
          src="<%= event.picture.url %>"
          alt="<%= event.picture.filename %>"
        />
        </a>
       
      </div>
      <% } %> 
      <% for(event of latestEvents){ %>
      <div class="carousel-item active slide" data-bs-interval="2000">
        <a class="" href="/events/<%= event._id %>"
          >
        <img
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="100%"
          src="<%= event.picture.url %>"
          alt="<%= event.picture.filename %>"
        />
        </a>
       
      </div>
      <% } %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</section>