<% layout('layouts/boilerplate')%>
<div class="container-fluid">
  <div class="card my-5">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-12">
        <div class="d-flex flex-column align-items-center my-5">
          <a href="/">
            <img src="/assets/logo.png" alt="" height="100px" />
          </a>
        </div>
      </div>
      <div class="col-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button
              id="userLoginTab"
              data-bs-target="#userLoginForm"
              data-bs-toggle="tab"
              role="tab"
              class="nav-link active"
              aria-controls="userLoginForm"
              aria-selected="true"
            >
              <%= t('login') %> <i class="bi bi-box-arrow-in-right"></i>
            </button>
          </li>
          <li class="nav-item">
            <button
              id="userRegisterTab"
              data-bs-target="#userRegisterForm"
              data-bs-toggle="tab"
              role="tab"
              class="nav-link"
              aria-controls="userRegisterForm"
              aria-selected="false"
            >
              <%= t('register') %> <i class="bi bi-person-plus-fill"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="tab-content">
        <div
          aria-labelledby="userLoginTab"
          role="tabpanel"
          class="px-5 my-5 tab-pane fade active show"
          id="userLoginForm"
        >
          <h3 class="my-5 text-center text-primary"><%= t('login') %></h3>
          <form
            action="/user/login"
            method="POST"
            class="needs-validation"
            novalidate
            autocomplete="off"
          >
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                name="username"
                id="userLoginUsername"
                placeholder="<%= t('email') %>"
                style="text-transform: lowercase"
                required
                autofocus
                autocomplete="off"
              />
              <label for="userLoginEmail" class="form-label"
                ><%= t('email') %></label
              >
              <div class="valid-feedback"><%= t('good') %></div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="userLoginPassword"
                name="password"
                placeholder="<%= t('password') %>"
                required
                autocomplete="off"
              />
              <label for="userLoginPassword" class="form-label"
                ><%= t('password') %></label
              >
              <div class="valid-feedback"><%= t('good') %></div>
            </div>
            <div class="mb-3 text-center">
              <button
                type="submit"
                id="user-submit"
                class="w-100 btn btn-outline-primary bg-gradient bg-opacity-25"
              >
                <%= t('login') %> <i class="bi bi-box-arrow-in-right ms-2"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- ============================= Register =============================================== -->
        <div
          aria-labelledby="userRegisterTab"
          role="tabpanel"
          class="px-5 my-5 tab-pane fade"
          id="userRegisterForm"
        >
          <h3 class="my-5 text-center text-primary"><%= t('register') %></h3>
          <form
            class="row g-3 m-2 needs-validation"
            action="/user/register"
            id="personal"
            method="POST"
            novalidate
            autocomplete
            autocapitalize
          >
            <div class="form-floating col-md-6">
              <input
                id="firstname"
                name="user[firstname]"
                type="text"
                class="form-control"
                required
              />
              <label for="firstname" class="form-label"
                ><%= t('firstname') %></label
              >
              <div class="valid-feedback"><%= t('good') %></div>
            </div>
            <div class="form-floating col-md-6">
              <input
                id="lastname"
                name="user[lastname]"
                type="text"
                class="form-control"
                required
              />
              <label for="lastname" class="form-label"
                ><%= t('lastname') %></label
              >
              <div class="valid-feedback"><%= t('good') %></div>
            </div>

            <div class="form-floating col-md-6">
              <input id="birthDate" name="user[birthdate]" type="date"
              class="form-control" max="<%=moment().format('YYYY-MM-DD')%>"
              min="<%=moment("01/01/1900").format('YYYY-MM-DD')%>" required />
              <label for="birthDate" class="form-label"
                ><%= t('birthdate') %>
              </label>
              <div class="valid-feedback"><%= t('good') %></div>
            </div>
            <div class="form-floating col-md-6">
              <select
                id="gender"
                name="user[gender]"
                class="form-select"
                required
              >
                <option selected value="" disabled></option>
                <option class="option" value="Male"><%= t('male') %></option>
                <option class="option" value="Female">
                  <%= t('female') %>
                </option>
              </select>
              <label for="gender" class="form-label"><%= t('gender') %></label>
              <div class="valid-feedback"><%= t('good') %></div>
            </div>
            <div class="form-floating col-md-6">
              <input
                class="form-select"
                id="city"
                name="user[city]"
                list="cities"
                onchange="makeSubmenu(this.value, '')"
              />
              <datalist id="cities">
                <option class="option" value=""></option>
                <% for (city of states) { %>
                <option class="option" value="<%= city.name %>">
                  <%= city.id + " - " + city.name %>
                </option>
                <%} %>
              </datalist>
              <label for="city" class="form-label"><%= t('state') %></label>
              <div class="valid-feedback"><%= t('good') %></div>
            </div>

            <div class="form-floating col-md-6">
              <input
                id="email"
                name="user[email]"
                type="email"
                class="form-control"
                required
              />
              <label for="email" class="form-label"><%= t('email') %></label>
              <div class="valid-feedback"><%= t('good') %></div>
            </div>
            <div class="form-floating col-md-6 mb-3">
              <input
                type="password"
                class="form-control"
                id="userLoginPassword"
                name="user[password]"
                placeholder="<%= t('password') %>"
                required
              />
              <label for="userLoginPassword" class="form-label"
                ><%= t('password') %></label
              >
              <div class="valid-feedback"><%= t('good') %></div>
            </div>

            <div class="form-floating col-md-6">
              <input
                type="text"
                class="form-control"
                id="phone"
                name="user[phone]"
                required
                maxlength="10"
              />
              <label for="phone" class="form-label"><%= t('phone') %></label>
              <div class="valid-feedback"><%= t('good') %></div>
            </div>

            <div class="form-floating col-md-6">
              <input
                type="text"
                class="form-control"
                name="user[job]"
                id="job"
                required
              />
              <label for="job" class="form-label"><%= t('job') %></label>
              <div class="valid-feedback"><%= t('good') %></div>
            </div>

            <div class="mt-3 text-center">
              <button
                type="submit"
                id="register"
                class="w-50 btn btn-outline-primary bg-gradient bg-opacity-25"
              >
                <%= t('register') %>
                <i class="bi bi-person-plus-fill ms-2"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
